.left-bg {
  background-image: url("../../../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.right-bg {
  padding: 50px 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
